html {
    box-sizing: inherit;
}

:root {
    --primari-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primari-white-color: #ffffff;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    color: var(--primari-white-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin: 0px;
}
.container {
    box-sizing: border-box;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none
}
@mixin font($family: Roboto, $style: normal, $weight: 500, $size: 14px) {
    font-family: $family, sans-serif;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
}